In [1]:
pwd #File location

'C:\\Users\\joela\\Desktop\\LanziPython'

In [2]:
import numpy as np
import pandas as pd

In [3]:
data1 = pd.read_csv('test1.csv')

on_off1 = list(data1['On/Off'])
timestamp1 = list(data1[' Timestamp'])

In [4]:
data2 = pd.read_csv('test2.csv')

on_off2 = list(data2['On/Off'])
timestamp2 = list(data2[' Timestamp'])

In [5]:
data3 = pd.read_csv('test3.csv')

on_off3 = list(data3['On/Off'])
timestamp3 = list(data3[' Timestamp'])

In [6]:
first_time1=timestamp1[0]
for x in range(len(timestamp1)):
    timestamp1[x]=timestamp1[x]-first_time1
first_time2=timestamp2[0]
for x in range(len(timestamp2)):
    timestamp2[x]=timestamp2[x]-first_time2
first_time3=timestamp3[0]
for x in range(len(timestamp3)):
    timestamp3[x]=timestamp3[x]-first_time3

In [7]:
#counts amount of True
sum(on_off1[i] == on_off2[i] for i in range(len(on_off1)))

690393

In [8]:
#coutns percentage of True
sum(x==y for (x,y) in zip(on_off1, on_off2))/len(on_off1)

0.49876319344608117

In [9]:
#coutns percentage of True
sum(x==y for (x,y) in zip(on_off1, on_off3))/len(on_off1)

0.49378995961595423

In [10]:
#coutns percentage of True
sum(x==y for (x,y) in zip(on_off1, on_off3))/len(on_off1)

0.49378995961595423

In [11]:
one_period = [i for i in timestamp3 if i < 28500] 
end = len(one_period)
end

9876

In [12]:
r1 = dict(zip(timestamp1[:end],on_off1[:end]))
r2 = dict(zip(timestamp2[:end],on_off2[:end]))
r3 = dict(zip(timestamp3[:end],on_off3[:end]))

In [13]:
df = pd.DataFrame([r1,r2,r3])

In [14]:
df.iloc[:,:20]

,0,1,3,4,5,7,10,14,15,16,17,18,19,20,21,22,23,25,27,28
0,1,1.0,NaN,-1.0,NaN,1.0,1.0,NaN,1.0,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN
1,1,NaN,1.0,NaN,-1.0,1.0,NaN,NaN,NaN,1,1.0,1.0,NaN,-1.0,NaN,-1.0,1.0,-1.0,1.0,NaN
2,1,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,-1.0,1,NaN,NaN,-1.0,NaN,-1.0,NaN,NaN,NaN,NaN,1.0

In [15]:
answer = list((set(r1.items()) & set(r2.items())))
answer.sort()
len(answer)

1253

In [16]:
answer = list((set(r1.items()) & set(r3.items())))
answer.sort()
len(answer)

1371

In [17]:
answer = list((set(r2.items()) & set(r3.items())))
answer.sort()
len(answer)

1352

In [18]:
(len(answer)/len(one_period))*100

13.689752936411503